---
---

<section class="flex flex-col lg:flex-row justify-between px-8 gap-2">
    <div class="w-full lg:w-1/2">
        <div class="flex justify-between">
            <h2 class="font-bold mb-4">Recently Watched </h2>
            <a href="https://letterboxd.com/ronthekiehn" target="_blank" class="text-zinc-300 text-xs">see all</a>
        </div>
        <div id="movies-grid" class="flex justify-between px-2 gap-4">
            <div class="text-center">Loading movies...</div>
        </div>
    </div>

    <div class="w-full lg:w-1/2">
        <div class="flex justify-between">
            <h2 class="font-bold mb-4">Recently Read</h2>
            <a href="https://www.goodreads.com/user/show/153869783-ron-kiehn"  target="_blank" class="text-zinc-300 text-xs">see all</a>
        </div>
        <div id="books-grid" class="flex justify-between px-2 gap-4">
            <div class="text-center">Loading books...</div>
        </div>
    </div>
</section>

<script>
    import $ from 'jquery';


    $(document).ready(function() {
        $.getJSON('https://ronkiehn-dev.vercel.app/api/letterboxd', function(movies) {
            const $moviesGrid = $('#movies-grid');
            $moviesGrid.empty();
            
            movies.forEach(movie => {
                $moviesGrid.append(`
                    <div class="flex flex-col gap-1 items-center text-center">
                        <img 
                            src="${movie.posterImage}" 
                            alt="${movie.movieTitle}"
                            class="rounded object-cover"
                        />
                       <span class="text-xs">${movie.starRating}/5</span>
                    </div>
                `);
            });
        }).fail(function() {
            $('#movies-grid').html('<div class="text-center text-red-500">Error loading movies</div>');
        });

        // Fetch books
        $.getJSON('https://ronkiehn-dev.vercel.app/api/goodreads', function(books) {
            const $booksGrid = $('#books-grid');
            $booksGrid.empty();
            
            books.forEach(book => {
                $booksGrid.append(`
                    <div class="flex flex-col gap-1 items-center text-center">
                        <img 
                            src="${book.coverImage}" 
                            alt="${book.bookTitle}"
                            class="object-cover rounded"
                        />
                         <span class="text-xs">${book.rating}/5</span>
                    </div>
                `);
            });
        }).fail(function() {
            $('#books-grid').html('<div class="text-center text-red-500">Error loading books</div>');
        });
    });
</script>

