<section class="flex flex-col gap-2">
    <div class="flex flex-col">
        <span class="text-lg font-bold">bookshelf</span>
        <span class="text-sm text-zinc-400">all the media i've consumed recently, updated automatically</span>
    </div>

        <div class="py-2">
            <div class="flex justify-between items-center mb-3">
                <span class="font-bold text-sm">movies</span>
                <a href="https://letterboxd.com/ronthekiehn" target="_blank" class="text-zinc-400 text-xs hover:underline">see all</a>
            </div>
            <div id="movies-grid" class="grid grid-rows-2 grid-cols-4 md:grid-rows-1 md:grid-cols-8 gap-3">
                <div class="text-center">Loading movies...</div>
            </div>
        </div>

        <div class="py-2">
            <div class="flex justify-between items-center mb-3">
                <span class="font-bold text-sm">books</span>
                <a href="https://www.goodreads.com/user/show/153869783-ron-kiehn"  target="_blank" class="text-zinc-400 text-xs hover:underline">see all</a>
            </div>
            <div id="books-grid" class="grid grid-rows-2 grid-cols-4 md:grid-rows-1 md:grid-cols-8 gap-3">
                <div class="text-center">Loading books...</div>
            </div>
        </div>
        
        <div class="py-2">
            <div class="flex justify-between items-center mb-3">
                <span class="font-bold text-sm">anime</span>
                <a href="https://myanimelist.net/animelist/ronthekiehn" target="_blank" class="text-zinc-400 text-xs hover:underline">see all</a>
            </div>
            <div id="anime-grid" class="grid grid-rows-2 grid-cols-4 md:grid-rows-1 md:grid-cols-8 gap-3">
                <div class="text-center">Loading anime...</div>
            </div>
        </div>
        
        <div class="py-2">
            <div class="flex justify-between items-center mb-3">
                <span class="font-bold text-sm">songs</span>
            </div>
            <div id="song-grid" class="grid grid-rows-2 grid-cols-4 md:grid-rows-1 md:grid-cols-8 gap-3">
                <div class="text-center">Loading songs...</div>
            </div>
        </div>
</section>

<script>
    import $ from 'jquery';

    $(() => {

        // Fetch movies
        $.getJSON('https://ronkiehn-dev.vercel.app/api/letterboxd', function(movies) {
            const $moviesGrid = $('#movies-grid');
            $moviesGrid.empty();
            
            movies.forEach(movie => {
                $moviesGrid.append(`
                    <div class="flex flex-col gap-1 items-center text-center ">
                        <img 
                            src="${movie.posterImage}" 
                            alt="${movie.movieTitle}"
                            class="object-cover rounded w-full"
                        />
                       <span class="text-xs line-clamp-1">${movie.starRating}/5</span>
                    </div>
                `);
            });
        }).fail(function() {
            $('#movies-grid').html('<div class="text-center text-red-500">Error loading movies</div>');
        });

        // Fetch books
        $.getJSON('https://ronkiehn-dev.vercel.app/api/goodreads', function(books) {
            const $booksGrid = $('#books-grid');
            $booksGrid.empty();
            
            books.forEach(book => {
                $booksGrid.append(`
                    <div class="flex flex-col gap-1 items-center text-center">
                        <img 
                            src="${book.coverImage}" 
                            alt="${book.bookTitle}"
                            class="object-cover rounded w-full"
                        />
                         <span class="text-xs line-clamp-1">${book.rating}/5</span>
                    </div>
                `);
            });
        }).fail(function() {
            $('#books-grid').html('<div class="text-center text-red-500">Error loading books</div>');
        });

        // Fetch songs
        $.getJSON('https://ronkiehn-dev.vercel.app/api/spotify-recent', function(tracks) {
            const $songGrid = $('#song-grid');
            $songGrid.empty();
            tracks.forEach(track => {
                $songGrid.append(`
                    <div class="flex flex-col gap-1 items-center text-center ">
                        <img 
                            src="${track.albumImageUrl}" 
                            alt="${track.title}"
                            class="object-cover rounded w-full aspect-square"
                        />
                         <span class="text-xs line-clamp-1">${track.title}</span>
                    </div>
                `);
            });
        }).fail(function() {
            $('#song-grid').html('<div class="text-center text-red-500">Error loading songs</div>');
        });

        // Fetch anime
        $.getJSON('https://ronkiehn-dev.vercel.app/api/anime', function(animeList) {
            const $animeGrid = $('#anime-grid');
            $animeGrid.empty();
            animeList.forEach(anime => {
                $animeGrid.append(`
                    <div class="flex flex-col gap-1 items-center text-center ">
                        <img 
                            src="${anime.imageUrl}" 
                            alt="${anime.title}"
                            class="object-cover rounded w-full"
                        />
                         <span class="text-xs line-clamp-1">${anime.rating}/10</span>
                    </div>
                `);
            });
        }).fail(function() {
            $('#anime-grid').html('<div class="text-center text-red-500">Error loading anime</div>');
        });
    });
</script>

