
<section class="flex flex-col lg:flex-row justify-between px-8 gap-4 lg:gap-20">
    <div class="w-full lg:w-1/2">
        <div class="flex justify-between items-center mb-4">
            <h2 class="font-bold">Recently Watched </h2>
            <a href="https://letterboxd.com/ronthekiehn" target="_blank" class="text-zinc-300 text-xs hover:underline">see all</a>
        </div>
        <div id="movies-grid" class="flex justify-between px-2 gap-4">
            <div class="text-center">Loading movies...</div>
        </div>
    </div>

    <div class="w-full lg:w-1/2">
        <div class="flex justify-between items-center mb-4">
            <h2 class="font-bold">Recently Read</h2>
            <a href="https://www.goodreads.com/user/show/153869783-ron-kiehn"  target="_blank" class="text-zinc-300 text-xs hover:underline">see all</a>
        </div>
        <div id="books-grid" class="flex justify-between px-2 gap-4">
            <div class="text-center">Loading books...</div>
        </div>
    </div>
</section>

<section>
    <markdown>
        ### leetle
    </markdown>
</section>


<script>
    import $ from 'jquery';
    import { marked } from 'marked';

    $(document).ready(function() {
        $("markdown").each(function(index, el) {
            const html = marked.parse(el.textContent.trim());
            el.outerHTML = `<div class="prose prose-invert text-white max-w-none">${html}</div>`;
            });

        $.getJSON('https://ronkiehn-dev.vercel.app/api/letterboxd', function(movies) {
            const $moviesGrid = $('#movies-grid');
            $moviesGrid.empty();
            
            movies.forEach(movie => {
                $moviesGrid.append(`
                    <div class="w-1/4 flex flex-col gap-1 items-center text-center">
                        <img 
                            src="${movie.posterImage}" 
                            alt="${movie.movieTitle}"
                            class="object-cover rounded h-full w-full"
                        />
                       <span class="text-xs">${movie.starRating}/5</span>
                    </div>
                `);
            });
        }).fail(function() {
            $('#movies-grid').html('<div class="text-center text-red-500">Error loading movies</div>');
        });

        // Fetch books
        $.getJSON('https://ronkiehn-dev.vercel.app/api/goodreads', function(books) {
            const $booksGrid = $('#books-grid');
            $booksGrid.empty();
            
            books.forEach(book => {
                $booksGrid.append(`
                    <div class="flex flex-col gap-1 items-center text-center w-1/4 ">
                        <img 
                            src="${book.coverImage}" 
                            alt="${book.bookTitle}"
                            class="object-cover rounded h-full w-full max-h-[880px]"
                        />
                         <span class="text-xs">${book.rating}/5</span>
                    </div>
                `);
            });
        }).fail(function() {
            $('#books-grid').html('<div class="text-center text-red-500">Error loading books</div>');
        });
    });
</script>
