---
import '../styles/hover.css';
interface Props {
    title: string;
    languages: string;
    description: string;
    github?: string;
    url?: string;
}
import GithubIcon from '../icons/GithubIcon.astro';

const { title, languages, description, github, url } = Astro.props;
---

<div class="relative project inset-0 bg-white md:bg-gray-600 rounded-xl h-[200px] w-full">
    <div class="absolute inset-0 bg-gradient-radial rounded-xl z-0"></div>

    <div class="relative m-[2px] bg-black rounded-xl p-2 z-10 h-[196px] space-y-2">
        <div class="flex align-middle justify-between">
            {url ? 
                <a class="rounded-lg text-2xl px-2 hover:bg-gray-800 transition-all truncate" href={url} target="_blank" rel="noreferrer">{title}</a>
                : <a class="px-2 text-2xl truncate">{title}</a>}
            {github && 
                <a class="hover:scale-105 transition-all shrink-0" href={github} target="_blank" rel="noreferrer">
                    <GithubIcon />
                </a>}
        </div>
        <div class="ml-1 hidden md:block">
            {languages.split(',').map((lang) => (
                <span class="inline-block bg-gray-800 rounded-full px-2 py-1 text-xs mr-1 mb-1">
                    {lang.trim()}
                </span>
            ))}
        </div>
        <p class="px-2 line-clamp-4">{description}</p>    
    </div>
</div>

<script>
  import { initializeHover } from '../scripts/hover.js';
  initializeHover('.project');
</script>